@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);
html,
body {
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  float: none;
  display: block;
}